/* <!--=============== COMMON STYLES =============== --> */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}
.button {
  cursor: pointer;
  color: inherit;
  border: none;
  padding: 0;
}
.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 16px;
  padding-left: 16px;
}
.icon {
  fill: #f4f4fd;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}
/* <!--=============== HEADER STYLES =============== --> */
.nav-item {
  display: none;
}
.address-box {
  display: none;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-box {
  padding-top: 17px;
  padding-bottom: 15px;
}

.nav-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.nav-logo-word {
  color: #2e2f42;
}

.mobile-open-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  fill: #2f2f37;
  line-height: 0;
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #2e2f42;
  z-index: 99999;
  overflow-y: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-close-btn {
  position: absolute;
  border-radius: 50%;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 24px;
  padding: 0;
}

.mobile-menu-list:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mobile-nav-link:hover,
.mobile-nav-link:focus {
  color: #404bbf;
}
.address-mob-menu {
  margin-top: 40px;
  margin-bottom: 48px;
  color: #2e2f42;
}
.contacts-link-mob {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.contacts-link-mob:hover,
.contacts-link-mob:focus {
  color: #4d5ae5;
}

.contacts-list-mob:not(:last-child) {
  margin-bottom: 24px;
}

.mob-social-icon-list {
  display: flex;
  justify-content: space-between;
}

.mob-social-icon-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.mob-social-icon-link:hover,
.mob-social-icon-link:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
