/* <!--=============== COMMON STYLES =============== --> */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}
.button {
  cursor: pointer;
  color: inherit;
  border: none;
  padding: 0;
}
.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 16px;
  padding-left: 16px;
}
.icon {
  fill: #f4f4fd;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-page {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* <!--=============== HEADER STYLES =============== --> */
.nav-item {
  display: none;
}
.address-box {
  display: none;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.nav-logo-word {
  color: #2e2f42;
}

/* ========== MOBILE MENU ========== */
.mobile-open-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  fill: #2f2f37;
  line-height: 0;
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #2e2f42;
  z-index: 99999;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: auto;
}
.mobile-menu.is-open {
  transform: translateX(0%);
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-close-btn {
  position: absolute;
  border-radius: 50%;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 24px;
  padding: 0;
}

.mobile-menu-list:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mobile-nav-link:hover,
.mobile-nav-link:focus {
  color: #404bbf;
}
.address-mob-menu {
  margin-top: 40px;
  margin-bottom: 48px;
  color: #2e2f42;
}
.contacts-link-mob {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.contacts-link-mob:hover,
.contacts-link-mob:focus {
  color: #4d5ae5;
}

.contacts-list-mob:not(:last-child) {
  margin-bottom: 24px;
}

.mob-social-icon-list {
  display: flex;
  justify-content: space-between;
}

.mob-social-icon-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.mob-social-icon-link:hover,
.mob-social-icon-link:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile-open-btn {
    display: none;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
  }
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
  }

  .nav-item {
    display: flex;
    gap: 40px;
  }
  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: #404bbf;
  }
  .underline {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .underline::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .address-box {
    font-style: normal;
    display: flex;
  }
  .contacts-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
  }
  .contacts-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .contacts-item {
    flex-direction: row;
    gap: 40px;
    padding: 24px 0;
  }
  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* ========== HERO ============ */

.section-one {
  background: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-mobile-image.jpg);
  max-width: 1440px;
  padding-top: 72px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  overflow-y: auto;
}
.section-one-name {
  max-width: 216px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.hero-button {
  font-weight: 500;
  background: #4d5ae5;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;

  display: block;
  min-width: 169px;
  height: 56px;
  border: none;

  margin-left: auto;
  margin-right: auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background: #404bbf;
}
@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .section-hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-mobile-image@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .section-one-name {
    font-size: 56px;
    font-weight: 700;
    max-width: 496px;
    height: 120px;

    line-height: 1.07;
    letter-spacing: 0.02em;

    margin-bottom: 48px;
  }
  .section-hero {
    padding: 112px 0;

    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .section-one {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .section-one {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-desktop.jpg);
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .section-hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-desktop@2x.jpg);
  }
}
/* ====== FEATURES ===== */
.icon-section-two {
  display: none;
}

.section-two-name-list {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.section-two-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (max-width: 767px) {
  .section-two-name-list {
    margin-left: auto;
    margin-right: auto;
  }
  .section-two-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 72px;
    max-width: 288px;
  }
  .section-two-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    max-width: 288px;
  }
}

@media screen and (min-width: 768px) {
  .section-two-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 24px;
    row-gap: 72px;
  }
  .section-two-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .section-two-name-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .section-two-item {
    gap: 24px;
  }
  .section-two-list {
    width: calc((100% - 72px) / 4);
    gap: 8px;
  }
  .icon-section-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    fill: #2e2f42;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    width: 264px;
    height: 112px;
  }
  .section-two-text {
    font-weight: 400;
  }
}
/* ======= OUR TEAM =========== */
.section-three {
  background: #f4f4fd;
}
.section-three-item {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.section-three-list {
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  /* padding: 0px 0px 32px 0px; */
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  width: 264px;
}

.container-team {
  padding: 32px 16px;
}
.section-three-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.section-three-name-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.section-three-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  width: 232px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}
.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list {
  width: 40px;
  height: 40px;
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .section-three-item {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }
}

@media screen and (min-width: 1158px) {
  .section-three-item {
    gap: 24px;
  }
  .section-three-list {
    width: calc((100% - 72px) / 4);
  }
}

/* ======= OUR PORTFOLIO ===== */

.section-four-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.section-four-name-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.section-four-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section-four-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 48px;
}
.section-four-list {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  max-width: 288px;
}
.image-portfolio {
  position: relative;
  overflow: hidden;
}

.overflow-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  transform: translateY(100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-four-list:hover,
.section-four-list:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-four-list:hover .overflow-p {
  transform: translateY(0%);
}

@media screen and (min-width: 768px) {
  .container-app {
    max-width: 356px;
  }
  .section-four-item {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }
  .section-four-list {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .container-app {
    max-width: 360px;
  }
  .section-four-item {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
  }
  .section-four-list {
    width: calc((100% - 48px) / 3);
  }
}

/* ====== FOOTER ======= */

.footer-box {
  background-color: #2e2f42;
  padding: 100px 0;
  /* min-width: 100vh; */
}

.footer-container {
  max-width: 320px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  row-gap: 72px;
}
.mobile-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 72px;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  /* display: inline-block; */
}
.footer-logo-word {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  text-align: left;
  margin-top: 16px;
  max-width: 288px;
}

.social-p-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.container-logo {
  text-align: center;
}
.container-social {
  width: 208px;
}
.social-item-footer {
  display: flex;
  gap: 16px;
}
.social-link-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-footer {
  fill: #f4f4fd;
  width: 40px;
  height: 40px;
}

.social-svg-footer {
  fill: #f4f4fd;
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
}

.footer-subscribe {
  display: flex;
  flex-direction: column;

  row-gap: 16px;
}
.footer-subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 5px;
}
.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 16px;
}

.subscribe-user-email-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
}
.subscribe-user-email-input::placeholder {
  color: #ffffff;
}
.subscribe-user-email-input:focus {
  border-color: #4d5ae5;
  outline: transparent;
}
.subscribe-user-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;

  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  font-family: "Roboto", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  width: 165px;
}
.subscribe-btn-icon {
  fill: #fff;
  margin-left: 16px;
}
.subscribe-user-btn:hover,
.subscribe-user-btn:focus {
  background: #404bbf;
  border-color: #404bbf;
  outline: transparent;
}
@media screen and (min-width: 768px) {
  .mobile-footer {
    flex-direction: row;
  }
  .container-logo {
    align-items: baseline;
    margin-right: 24px;
    text-align: left;
  }
  .footer-text {
    width: 264px;
  }

  .subscribe-form {
    flex-direction: row;
    gap: 24px;
  }
  .socail-media-p {
    text-align: left;
  }
  .social-p-footer {
    text-align: left;
  }
  .footer-container {
    align-items: flex-start;
    max-width: 584px;
    padding: 0 16px;
  }
}
@media screen and (min-width: 1158px) {
  .footer-container {
    flex-direction: row;
    align-items: baseline;
    max-width: 1158px;
  }
  .container-logo {
    margin-right: 120px;
  }
  .form-footer {
    margin-left: 80px;
  }
}
/* ====== FORM ======= */
.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
}
.modal {
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;

  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}
.modal-close-icon:hover .close-icon,
.modal-close-icon:focus .close-icon {
  fill: #fff;
}

.text-modal {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.form-field {
  margin-bottom: 8px;
  background-color: transparent;
}
.form-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.order-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-form-input:focus {
  border-color: #4d5ae5;
}
.input-wrapper {
  position: relative;
}
.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-form-input:focus + .form-icon {
  fill: #4d5ae5;
}
.form-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;

  background-color: transparent;
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea:focus {
  border-color: #4d5ae5;
  outline: transparent;
}
.textarea-form-field {
  margin-bottom: 16px;
}
.form-send-button {
  display: block;
  margin: 24px auto 0px;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border-color: #4d5ae5;
  cursor: pointer;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-send-button:hover,
.form-send-button:focus {
  background: #404bbf;
  border-color: #404bbf;
  outline: transparent;
}

.privacy-policy-link {
  text-decoration: underline;
}
.form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.form-checkbox-wrapper {
  margin-bottom: 24px;
}
.form-own-chechbox {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 12px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.form-checkbox-input:checked + .form-checkbox-label .form-own-chechbox {
  fill: #f4f4fd;
  background-color: #404bbf;
  border: none;
}
.form-checkbox-input:focus + .form-checkbox-label .form-own-chechbox {
  border-color: #4d5ae5;
  outline: transparent;
}
.privacy-policy-link {
  color: #4d5ae5;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 524px;
  }
}
@media screen and (min-width: 1158px) {
  .modal {
    min-height: 584px;
  }
}
